#ifndef COLUMNA_H
#define COLUMNA_H
#include "Fila.h"


class Columna
{
    public:
        Columna();
        ~Columna();
        Lista<Fila*>* obtenerColumnas();

    private:
        Lista<Fila*>* listaColumnas;
};

Columna::Columna()
{
    this->listaColumnas=new Lista<Fila*>;
}
Columna::~Columna()
{
    delete obtenerColumnas();
}

Lista<Fila*>* Columna::obtenerColumnas()
{
    return this->listaColumnas;
}


#endif // COLUMNA_H
